annotated-types==0.5.0
azure-functions==1.17.0
certifi==2023.7.22
charset-normalizer==3.2.0
idna==3.4
pydantic==2.3.0
pydantic-settings==2.0.3
pydantic_core==2.6.3
python-dotenv==1.0.0
requests==2.31.0
typing_extensions==4.7.1
urllib3==2.0.4
pymongo==3.5.1
black==23.9.1
isort==5.12.0
flake8==6.1.0
mypy==1.5.1
autoflake==2.2.1
types-requests==2.31.0.6